@model WebMobile.Models.Personal.IndexViewModel
@{
    ViewBag.Title = "个人中心";
    Layout = "~/Views/Shared/_LayoutMainTabBar_Personal.cshtml";
}

@section scripts{
    @OwnStaticScriptsResource.Render("owl.carousel.min.js")
    <script type="text/javascript">

        $(document).ready(function () {


            $('.noopen').on('click', function () {

                $.lumos.tips("该功能9月18日开通敬请期待！")

            });

        });

    </script>
}

<div class="personal-info-s1" style="margin-top:29px">
    <div class="personal-info-s1-container">
        <img src="~/Content/images/personal_info_s1_bg.png" />

        <div class="item-top">

            <div class="item-left fl talign-c">
                <div class="content">
                    <div class="item-headimg fl">
                        <img src="@(Model.HeadImgUrl==null?"/Content/images/personal_info_headerimg.jpg":Model.HeadImgUrl)" alt="" />
                    </div>
                    <div class="item-nickname fl">
                        @Model.Nickname
                    </div>
                </div>
            </div>
            <div class="item-right fl talign-c">
                <div class="content">
                    <div class="item-ac-title"><span> 账户余额（元）</span></div>
                    <div class="item-ac-number">@Model.AvailableBalance</div>
                </div>
            </div>
        </div>

        <div class="item-bottom">
            <div class="item-left fl">
                <span class="btn-s1 noopen">
                    <span class="text">资金提现</span>
                </span>
            </div>
            <div class="item-right fl">
                <a href="/Fund/MyTrans">
                    <span class="btn-s1">
                        <span>资金流水</span>
                    </span>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="hr"></div>

<ul class="list-nav bdt0 pdlr14">
    <li class="list-nav-item">
        <a href="/Coupon/My">
            <div class="item-left fl">
                <div class="item-icon fl"><img src="~/Content/images/list_nav_item_icon_mycoupon.png" alt="" /> </div>
                <div class="item-txt fl"><span>我的优惠券</span></div>
            </div>
            <div class="item-right fl">
                <div class="item-txt fr"><span></span></div>
                <div class="item-icon fr"><img src="~/Content/images/list_nav_item_icon_next.png" alt="" /> </div>
            </div>
        </a>
    </li>
    <li class="list-nav-item">
        <div class="item-left fl noopen">
            <div class="item-icon fl"><img src="~/Content/images/list_nav_item_icon_withdraw.png" alt="" /> </div>
            <div class="item-txt fl"><span>提现记录</span></div>
        </div>
        <div class="item-right fl noopen">
            <div class="item-txt fr"><span></span></div>
            <div class="item-icon fr"><img src="~/Content/images/list_nav_item_icon_next.png" alt="" /></div>
        </div>
    </li>
    <li class="list-nav-item">
        <a href="/ShareLog/My">
            <div class="item-left fl noopen">
                <div class="item-icon fl"><img src="~/Content/images/list_nav_item_icon_sharelog.png" alt="" /> </div>
                <div class="item-txt fl"><span>分享记录</span></div>
            </div>
            <div class="item-right fl">
                <div class="item-txt fr"><span></span></div>
                <div class="item-icon fr"><img src="~/Content/images/list_nav_item_icon_next.png" alt="" /></div>
            </div>
        </a>
    </li>
    <li class="list-nav-item">
        <div class="item-left fl">
            <div class="item-icon fl"><img src="~/Content/images/list_nav_item_icon_telphone.png" alt="" /> </div>
            <div class="item-txt fl"><span>客服电话 <a href="tel:@OwnWebSettingUtils.GerServicePhone()" style="color:#666666;">@OwnWebSettingUtils.GerServicePhone()</a></span></div>
        </div>
        <div class="item-right fl">
            <div class="item-txt fr"><span></span></div>
            <div class="item-icon fr"> </div>
        </div>
    </li>
</ul>