@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @RenderSection("styles", required: false)
}

@section scripts{
    @RenderSection("scripts", required: false)
}

<div id="header" class="header">
    <div class="header-container">
        <div class="item-left">
            @RenderSection("headerleft", required: false)
        </div>
        <div class="item-middle">
            @RenderSection("headermiddle", required: false)
        </div>
        <div class="item-right" style="z-index:99999">
            @RenderSection("headerright", required: false)
        </div>
    </div>
</div>
<div class="hr60"></div>

@RenderBody()
