@using Lumos.Entity
@model Lumos.BLL.Api.HomeIndexViewModel
@*@{
        var sumQuantity = OwnUntils.GetCartSumQuantity();
    }*@
@section styles
{
    <link href="~/Content/swiper.min.css" rel="stylesheet" />
    <style>
        /*头部*/
        .header {
            position: static;
            height: 40px;
            line-height: 40px;
            background: #FFF;
            top: 0px;
            left: 0px;
            right: 0px;
            z-index: 1000;
            display: -webkit-box;
            display: -moz-box;
            padding: 0 1.05rem;
        }

        .nav-left {
            width: 60%;
            text-align: left;
            -webkit-box-flex: 200;
            -moz-box-flex: 200;
            font-size: .75rem;
            color: #111111;
        }

        .nav-middle {
            width: 20%;
            text-align: center;
            border-color: #C1CDDB;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            font-size: 17px;
            color: #2C2C2C;
        }

        .nav-right {
            width: 20%;
        }

        .nav-location {
            font-size: 14px;
            margin-right: -1px;
        }

        .nav-title {
            color: #000;
        }

        .nav-back, .nav-back:link, .nav-back:hover, .nav-back:visited {
            color: #000;
        }

        /*主体*/
        .img-classify-container {
            display: -webkit-box;
            display: -moz-box;
        }

        .split-bar {
            height: 4px;
        }

        .nav-middle {
            position: relative;
            left: 0;
        }

        .searc {
            position: relative;
        }

        .searc div:first-child {
            position: absolute;
            left: 6px;
        }

        .searc div:last-child {
            position: absolute;
            left: 33px;
        }

        .cart-discount-list {
            background: #fff;
            text-align: left;
            padding: 0.5rem;
            font-size: 12px;
        }

        .cart-discount-list i {
            margin-right: .16rem;
            font-size: 12px;
            font-style: normal;
            height: 1rem;
            width: 1rem;
            display: inline-block;
            box-sizing: border-box;
            text-align: center;
            border-radius: .053333rem;
        }

        .product-tips {
            font-size: 12px;
            color: #FF3030;
            font-weight: 600;
        }

        body {
            background: #fff;
            /*background:   #F18D00*/
        }

        /*.body-content {
                    overflow-y: auto !important;
                }*/

        .arrow-down {
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #fff;
            display: inline-block;
        }

        /*搜索框*/
        .searc {
            /*background: #fff;*/
            font-size: 14px;
            color: #737373;
            line-height: 32px;
            /* border-radius: 15px; */
            border-color: #C1CDDB;
            outline: none;
            margin-top: 2px;
            display: block;
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
        /*.searc img {
                position: absolute;
                left: 8px;
                top: 11px;
            }*/
        .searc span {
            /* position: absolute; */
            /* left: 24px; */
            display: inline-table;
            /*text-align: center;*/
            /* width: 85%; */
            color: #111111;
            font-size: .75rem;
        }

        /*body的图片列表*/
        #app {
            margin-top: -0.1em;
        }

        .body-table {
            display: -moz-box;
            width: 100%;
            word-spacing: -6px;
            background: #fff;
        }

        .body-tag {
            text-align: center;
            color: #F18D00;
            padding: 0.25rem 0 0.35rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }

        .body-tag span:before, .body-tag span:after {
            content: '';
            position: absolute;
            top: 0.5rem;
            background: #F18D00;
            width: 1.25rem;
            height: 1px;
        }

        .body-tag span:before {
            left: 4rem;
        }

        .body-tag span:after {
            right: 5.25rem;
        }

        .body-tag img {
            line-height: 1rem;
            height: 1rem;
            vertical-align: middle;
            margin-left: -0.5rem;
        }

        .body-tag span {
            font-size: 0.9rem;
            line-height: 0.9rem;
            margin-left: 0.4rem;
            display: inline-block;
            position: relative;
        }

        .vertical-img-first img {
            width: 100%;
        }

        .vertical-img {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
        }

        .vertical-img a img {
            height: 7.75em;
            display: block;
        }

        .vertical-img-first {
            /*display: inline-block;
            width: 33%;*/
        }

        .vertical-img-first a img {
            height: 15.7em;
        }

        .vertical-img-middle {
            /*display: inline-block;
            width: 33%;*/
            border-left: 1px solid rgba(0, 0, 0, 0.05);
        }

        .vertical-img-middle a:first-child img {
            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }

        .vertical-img-middle a:last-child img {
            width: 100%;
        }

        .vertical-img-last {
            /*display: inline-block;
            width: 33%;*/
            border-left: 1px solid rgba(0, 0, 0, 0.05);
        }

        .vertical-img-last a:first-child img {
            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }

        .vertical-img-last a:last-child img {
            width: 100%;
        }

        .swiper-container {
            width: 100%;
            -webkit-perspective: 1200px;
            -moz-perspective: 1200px;
            -ms-perspective: 1200px;
            perspective: 1200px;
            margin-top: -10px;
            padding: 0rem 0 0.5rem 0;
        }

        .swiper-wrapper {
            margin-top: 10px;
        }

        .swiper-slide {
            width: 93%;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .swiper-slide .main-img {
            width: 93%;
            margin: 0 auto;
            display: block;
            border-radius: 5.21px;
            height: 8.625rem;
        }

        .order-style {
            line-height: 2.5rem;
            height: 2.5rem;
            width: 100%;
            background: #fff;
            font-size: 14px;
            display: -webkit-box;
            display: -moz-box;
        }

        li {
            list-style-type: none;
            text-align: center;
            font-size: 0.8rem;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            font-size: .75rem;
            color: #111111;
        }

        .li-current {
            /*border-bottom: 1px solid #f18d00;*/
            font-size: 1.0625rem;
            position: relative;
        }

        .li-current a {
            color: #ffb101 !important;
        }

        /*.order-style li div span {
            display: block;
            color: #F00;
            text-align: center;
            line-height: 1rem;
            font-size: 0.9rem;
        }*/


        .classify-container {
            width: 100%;
        }


        /*下滑列表*/
        .list-item {
            border-bottom: 1px solid rgba(0,0,0,0.1);
            position: relative;
            height: 6.25rem;
            background-color: #fff;
            display: -webkit-box;
            display: -moz-box;
            padding: 0.5rem 0;
        }

        .item {
            display: block;
        }

        .list-item:last-child {
            border-bottom-width: 0px !important;
        }

        .item-body {
            text-align: left;
        }

        .item-body, .item-calc {
            font-size: 14px;
            line-height: 2.0em;
            font-weight: bold;
        }

        .item-inner {
            -webkit-box-flex: 500;
            -moz-box-flex: 1;
        }

        .item-img {
            width: 7.15rem;
            padding: 0 0.325em;
            height: 6.25rem;
            line-height: 6.25rem;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
        }

        .item-img img {
            width: 100%;
            vertical-align: middle;
        }

        .list {
            width: 100%;
        }

        .item-body span {
            display: block;
        }

        .item_body span:nth-child(2) {
            line-height: 1em;
            color: #ccc;
        }

        .item-body {
            text-align: left;
        }

        .item-title {
            height: 2em;
            font-size: 14px;
        }

        .item-tagicon img {
            height: 1rem;
            width: 2.7rem;
        }

        .item-des {
            height: 2.5em;
            font-size: 12px;
        }

        .item-price {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            height: 2.5rem;
            line-height: 2.5rem;
        }

        .item-calc {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            text-align: right;
            padding: 0 1rem;
        }

        .item-calc img {
            height: 2.5rem;
            width: 2.25rem;
            vertical-align: middle;
        }

        .item-add {
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
        }

        .item-remove {
            width: 1.25em;
            height: 1.25em;
            vertical-align: middle;
        }

        .item-num {
            font-size: 13px;
        }

        .item-calc img, .item-calc span {
            display: inline-block;
        }

        .body-space {
            height: 1rem;
        }

        .fa-jpy {
            color: #FF9A00 !important;
        }

        .item-price i:first-child {
            font-size: 16px;
        }

        .item-price i:last-child {
            color: #A3A3A3 !important;
            font-size: 10px;
            text-decoration: line-through;
        }

        .item-emptystock {
            height: 60px;
            position: absolute;
            background-color: gray;
            opacity: 0.5;
            font-size: 24px;
            /* line-height: 100px; */
            text-align: center;
            color: #fff;
            /* vertical-align: middle; */
            line-height: 60px;
            bottom: 0px;
            width: 100%;
        }

        .empty-cart {
            position: absolute;
            top: 35%;
            left: 0;
            width: 100%;
            display: none;
        }

        .empty-cart div:first-child {
            margin: 0 auto;
            width: 4rem;
        }

        .empty-cart div:last-child {
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: #727272;
        }

        .empty-cart div:first-child img {
            width: 4.125rem;
            height: 4.68rem;
        }

        .item-bottom {
            display: -webkit-box;
            display: -moz-box;
        }

        .item-tips {
            font-size: 12px;
            font-weight: 600;
            color: #FF3030;
        }

        .item-body div span {
            display: inline-block;
        }

        .eat-time {
            height: 30px;
            width: 100%;
            display: -webkit-box;
            display: -moz-box;
            background: #ffffff;
            padding: 0.16rem 0;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

        .eat-time div.operate {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            text-align: center;
        }

        .eat-time div.operate div {
            width: 2.5rem;
            height: 32px;
            line-height: 30px;
            margin: 0 auto;
        }

        .operate:active {
            background: #fff;
            outline: none;
        }

        .cart-discount-list {
            background: #fff;
            text-align: left;
            padding: 0.5rem;
            font-size: 12px;
        }

        .cart-discount-list i {
            margin-right: .16rem;
            font-size: 12px;
            font-style: normal;
            height: 1rem;
            width: 1rem;
            display: inline-block;
            box-sizing: border-box;
            text-align: center;
            border-radius: .053333rem;
        }
        /*
            *
            *  首页导航栏
            *
        */
        .navbar {
            padding: 1.05rem 0;
        }

        .navbar-container {
            width: 90%;
            background: #FFF;
            padding: 0.75rem 0.375rem;
            margin: 0 auto;
            box-shadow: -1px 0px 20px 0px rgba(211,211,211,.6);
            border-radius: 5.21px;
        }

        .navbar-container ul {
            display: -webkit-box;
            display: -moz-box;
        }

        .navbar-container li {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
        }

        .navbar-container li span:last-child {
            display: block;
            color: #111111;
            font-size: .75rem;
            line-height: 15px;
        }

        .advertising {
            padding: 0 0.875rem;
            position: relative;
        }

        .light {
            cursor: pointer;
            position: absolute;
            left: -300px;
            top: 0;
            width: 180px;
            height: 72px;
            background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
            background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
            transform: skewx(-25deg);
            -o-transform: skewx(-25deg);
            -moz-transform: skewx(-25deg);
            -webkit-transform: skewx(-25deg);
        }

        /*
            *
            *  首页推荐部分
            *
        */
        .recommend-container {
            display: table;
            background: #fff;
        }
        /*.recommend-container-first {
            height: 27.315rem;
        }*/
        .recommend-content-item-emptystock {
            position: absolute;
            font-size: 24px;
            color: #fff;
            vertical-align: middle;
            text-align: center;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            height: 100%;
            width: 100%;
            line-height: 11.75rem;
            z-index: 20;
        }

        .recommend-content-second-item-emptystock {
            position: absolute;
            font-size: 24px;
            color: #fff;
            vertical-align: middle;
            text-align: center !important;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            height: 100% !important;
            width: 100%;
            line-height: 14rem !important;
            z-index: 20;
        }

        .recommend-content-third-item-emptystock {
            position: absolute;
            font-size: 24px;
            color: #fff;
            vertical-align: middle;
            text-align: center !important;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            height: 100% !important;
            width: 100%;
            line-height: 6.5rem !important;
            z-index: 20;
        }

        .recommend-container, .recommend-inner, .recommend-title {
            width: 100%;
            text-align: center;
        }

        .recommend-title {
            background: #fff;
            padding: 0.25rem 0;
        }

        .recommend-title div:first-child {
            position: relative;
        }

        .recommend-title div:first-child:before, .recommend-title div:first-child:after {
            content: '';
            position: absolute;
            top: 0.675rem;
            background: #595959;
            width: 14px;
            height: 1px;
        }

        .recommend-title .recommend-big-title:last-child {
            display: inline-block;
        }

        .recommend-title div:first-child:before {
            left: 36%;
        }

        .recommend-title div:first-child:after {
            right: 36%;
        }

        .recommend-title .recommend-big-title {
            font-size: 15px;
        }

        .recommend-title .recommend-big-title:first-child {
            color: rgb(241, 141, 0);
        }

        .recommend-title .recommend-big-title:last-child {
            color: rgb(68, 68, 68);
        }

        .recommend-des {
            font-size: .5rem;
            color: rgb(68, 68, 68);
        }

        .recommend-content-first {
            height: 11.75rem;
        }

        .recommend-content-first-item {
            height: 100%;
            position: relative;
        }

        .recommend-content-first-item div:first-child {
            height: 100%;
        }

        .recommend-content-first-background {
            width: 100%;
            height: 11.75rem;
        }

        .recommend-content-first-botttom {
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 39px;
            background: rgba(0, 0, 0, 0.15);
        }

        .recommend-content-first-botttom-inner {
            display: -webkit-box;
            display: -moz-box;
            line-height: 39px;
            padding: 0 15px;
        }

        .recommend-content-first-botttom-inner .recommend-content-first-botttom-inner div {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
        }

        .recommend-content-first-botttom-inner div:first-child {
            text-align: left;
            font-size: 15px;
            color: #fff;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
        }

        .recommend-content-first-botttom-inner div:last-child {
            text-align: right;
        }

        .recommend-content-first-botttom-inner i {
            margin-right: 12px;
        }

        .recommend-content-first-empty {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            height: 100%;
            width: 100%;
            line-height: 100%;
            z-index: 20;
        }

        /*第二种模式*/
        .recommend-content-second {
            text-align: -webkit-left;
        }

        .recommend-content-second, .recommend-content-second-item {
            width: 100%;
        }

        .recommend-content-second-item {
            height: 15.125rem;
            display: inline-flex;
        }

        .recommend-content-second-item-box {
            display: -webkit-box;
            display: -moz-box;
            height: 15.125rem;
            border-bottom: 1px solid #F8F8F8;
        }

        .recommend-content-second-item-inner-flex {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            height: 100%;
            background: #fff;
            position: relative;
            z-index: 1;
        }

        .recommend-content-second-item-inner-flex:nth-child(2n+1) {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            height: 100%;
            background: #fff;
            position: relative;
            border-right: 1px solid #F8F8F8;
            z-index: 1;
        }

        .recommend-content-second-item-inner {
            width: 49.45%;
            height: 100%;
            display: inline-block;
            background: #fff;
            position: relative;
        }

        .recommend-content-second-item-info {
            padding: 0 0.75rem;
            position: relative;
            bottom: 0;
        }

        .recommend-content-second-item-img {
            line-height: 11.75rem;
            height: 11.75rem;
            text-align: center;
        }

        .recommend-content-second-item-img img {
            vertical-align: middle;
            width: 9.75rem;
            height: 9.75rem;
            display: inline-block;
        }

        .recommend-content-second-item-operate {
            display: -webkit-box;
            display: -moz-box;
            line-height: 39px;
            height: 39px;
        }

        .recommend-content-second-item-operate div {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
        }

        .recommend-content-second-item-operate div:first-child {
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .recommend-content-second-item-operate div:last-child {
            text-align: right;
        }

        .recommend-content-second-item-operate i:last-child {
            font-size: .8rem;
            color: rgb(153, 153, 153) !important;
            text-decoration: line-through;
            margin-left: 5px;
        }

        .recommend-content-second-item-title {
            font-size: 0.875rem;
            color: rgb(68, 68, 68);
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 8rem;
            color: #111;
        }

        .recomment-content-second-item-des {
            font-size: .75rem;
            color: #777;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 8rem;
            text-align: left;
        }
        /*第三种模式*/
        .recommend-content-third {
            width: 100%;
        }

        .recommend-content-third-item {
            display: -webkit-box;
            display: -moz-box;
            background: #fff;
            height: 6.375rem;
            position: relative;
            border-bottom: 1px solid #F8F8F8;
        }

        .recomment-content-third-item-img {
            /*width: 6.375rem;*/
            line-height: 6.375rem;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            padding: 0 0.875rem 0 0;
        }

        .recomment-content-third-item-info {
            -webkit-box-flex: 200;
            -moz-box-flex: 200;
            position: relative;
        }

        .recomment-content-third-item-title {
            text-align: left;
            font-size: 0.875rem;
            color: rgb(89, 89, 89);
            line-height: 1.5rem;
            height: 1.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 12rem;
            margin-top: 10px;
            color: #111;
        }

        .recomment-content-third-item-des {
            font-size: .75rem;
            color: #777;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 12rem;
            text-align: left;
        }

        .recomment-content-third-item-operate {
            display: -webkit-box;
            display: -moz-box;
            position: inherit !important;
            top: 10px;
            width: 100%;
        }

        .recomment-content-third-item-operate div {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
        }

        .recomment-content-third-item-operate div:first-child {
            height: 39px;
            line-height: 39px;
            text-align: left;
        }

        .recomment-content-third-item-operate div:first-child i:last-child {
            font-size: .5rem;
            color: rgb(153, 153, 153) !important;
            text-decoration: line-through;
            margin-left: 3px;
        }

        .recomment-content-third-item-operate div:last-child {
            height: 39px;
            line-height: 39px;
            text-align: right;
            /*margin-right: 12px;*/
        }
        /*
            *
            *  通用部分
            *
        */
        .space-bar {
            height: 10px;
            width: 100%;
            border: 0;
            background: #F6F6F6;
        }

        .recommend-content-first-botttom-a {
            text-align: left;
            font-size: 15px;
            color: #fff;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            display: inline-block;
            width: 100%;
        }

        .recommend-content-first-botttom-inner div:last-child {
            text-align: right;
            font-size: 15px;
            color: #fff;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
        }
        /*模态弹窗*/
        #modal {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 100;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
        }

        #modal_content {
            position: relative;
            width: 75%;
            height: 16.0625rem;
            top: 20%;
            z-index: 110;
            margin: 0 auto;
            background: #fff;
            display: block;
            border-radius: 5px;
        }

        #modal_content_img {
            position: absolute;
            top: 0;
            width: 100%;
            vertical-align: middle;
            height: 5.95rem;
            text-align: center;
            line-height: 5.95rem;
            font-size: 18px;
        }

        #modal_content_img div {
            padding: 0.937rem 0;
        }

        #modal_content_tips {
            position: absolute;
            top: 5.95rem;
            width: 100%;
            vertical-align: middle;
            height: 5.95rem;
            text-align: center;
            font-size: 18px;
        }

        #modal_content_tips div:first-child {
            font-size: 19px;
            color: #F18D00;
            padding: 0.75rem 0 0.375rem 0;
        }

        #modal_content_tips div:last-child {
            font-size: 13px;
            color: #2c2c2c;
            width: 12.5rem;
            margin: 0 auto;
            padding: 0.375rem 0 0.4375rem 0;
        }

        #modal_content_btn {
            position: absolute;
            bottom: 1rem;
            width: 100%;
            display: -webkit-box;
            display: -moz-box;
            text-align: center;
            height: 2.875rem;
            line-height: 2.875rem;
            font-size: 18px;
        }

        #modal_content_btn div {
            height: 2.5rem;
            width: 10.8125rem;
            background: #FDAD27;
            color: #FFF;
            border-radius: 50px;
            font-size: 19px;
            line-height: 2.5rem;
            margin: 0 auto;
        }

        /**
                * iPhone 4/4s landscape & portrait
                */
        @@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
            #modal_content_img {
                line-height: 5.95rem;
            }
        }

        #modal_content_btn div:active {
            background: #ccc;
        }

        #modal_content_close {
            position: absolute;
            top: 0;
            right: 0.8rem;
        }

        #modal_content_close div {
            padding: 0.937rem 0;
        }

        /*底部*/
        .nav {
            background: #FFF;
            width: 100%;
            position: fixed;
            left: 0;
            bottom: 0;
            height: 52px;
            z-index: 100;
            border-top: 1px solid #F8F8F8;
        }

        .nav ul {
            height: 0px;
        }

        .nav ul li {
            float: left;
            width: 33%;
            text-align: center;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            position: relative;
        }

        .nav ul li span {
            margin-bottom: -5px;
        }

        .nav ul li span:last-child {
            display: block;
            color: #8a8a8a;
            font-size: 11px;
            line-height: 70px;
        }

        .nav-selected a span:last-child {
            color: #F18D00 !important;
        }

        .nav-numtip {
            background: #f00;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            position: absolute;
            color: #FFF;
            font-weight: normal;
            text-align: center;
            line-height: 18px;
            font-style: normal;
            top: 8px;
            left: 53%;
            display: none;
        }

        .item-empty-tips {
            background: #FFF;
            color: #ccc !important;
            font-size: .8125rem !important;
        }

        .item-empty-tips:before, .item-empty-tips:after {
            position: relative;
            background: #FFF;
        }


        /*其他*/

        i.custom-jpy-one {
            font-style: normal !important;
            color: #ff5500;
            font-size: 1.125rem;
        }

        i.custom-jpy-two {
            font-style: normal !important;
            color: #999;
            font-size: .8125rem !important;
        }

        .swiper-pagination-bullet {
            border: 1px solid #fff;
            background: transparent;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: #fff !important;
        }

        .swiper-pagination-bullet {
            width: 4px;
            height: 4px;
        }

        .swiper-container-horizontal > .swiper-pagination {
            bottom: 13px;
            left: 0;
            width: 100%;
        }

        .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
            margin: 0 4px;
        }
        /*第一次进来展示图片*/
        .firstIn-modal {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 100;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
        }

        .firstIn-content {
            position: relative;
            width: 75%;
            top: 20%;
            z-index: 110;
            margin: 0 auto;
            display: block;
            border-radius: 5px;
        }

        .firstIn-content-img {
            position: relative;
            top: 0;
            width: 100%;
            vertical-align: middle;
            text-align: center;
            line-height: 2.5rem;
            font-size: 18px;
        }

        .firstIn-content-btn {
            position: absolute;
            bottom: 2rem;
            width: 100%;
            display: -webkit-box;
            display: -moz-box;
            text-align: center;
        }

        .firstIn-content-btn div {
            margin: 0 auto;
        }

        .firstIn-content-close div {
            width: 30px;
            margin: 0 auto;
            text-align: center;
        }
    </style>
}
@section header
{
    <div class="header">
        <div class="nav-left">
            <div class="searc">
                <a href="/Store/Index?merchantId=@Model.Store.MerchantId" target="_self">
                    <img src="~/Content/imgs/complete-image/home-newindex/address.png" style="margin-top: -3px;vertical-align: middle" width="21" height="22" />
                    @*<img src="~/Content/imgs/complete-image/addr.png" style="margin-top: -3px;vertical-align: middle" width="12" height="15" />*@
                    <span>
                        @Model.Store.Name
                    </span>
                    <img src="~/Content/imgs/complete-image/home-newindex/down-arrow.png" width="13" height="7" style="vertical-align:middle;margin-left:1px;" />
                </a>

            </div>
        </div>
        <div class="nav-middle">


        </div>
        <div class="nav-right">

        </div>
    </div>
}
<div class="body">
    <input type="hidden" id="isFirstIn" value="@Model.IsFirstIn" />
    <!------轮播图开始----------->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var banner in Model.Banner)
            {
                <div class="swiper-slide"><a href="@banner.LinkUrl"><img src="@banner.ImgUrl" class="main-img"></a></div>
            }
            @*
                    <img src="@banner.ImgUrl" width="100%" class="main-img" />
                </a>*@
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <!------轮播图结束----------->
    @*<div style="width: 100%; margin-top: -3px;">
            <img src="/Content/imgs/complete-image/description.jpg" height="31" width="100%" />
        </div>*@
    @*<div style="height:17px;width:100%;background:#fff;"></div>*@
    <div class="navbar">
        <div class="navbar-container">
            <ul>
                <li class="navbar-item">
                    <a href="@Url.Action("NewUser", "Coupon")">
                        <span>
                            <img src="/Content/imgs/complete-image/home-newindex/new-user.png" height="43" width="43" />
                        </span><span>新人专享</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a href="@Url.Action("SecKillList", "Activity")"><span><img src="/Content/imgs/complete-image/home-newindex/seckill.png" height="43" width="43" /></span><span>限时秒杀</span></a>
                </li>
                <li class="navbar-item">
                    <a href="javascript:void(0)"><span><img src="/Content/imgs/complete-image/home-newindex/member.png" height="43" width="43" /></span><span>会员专区</span></a>
                </li>
                <li class="navbar-item">
                    <a href="@Url.Action("Coupon", "Personal")"><span><img src="/Content/imgs/complete-image/home-newindex/coupon.png" height="43" width="43" /></span><span>优惠券</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="classify-container">
        <ul class="order-style">
            <li class="li-current classify-item">
                <a href="javascript:void(0)" class="operate item-operate" catalogid="10">
                    <div>
                        <span>热门推荐</span>
                    </div>
                </a>
                <div style="position: absolute; width: 100%; bottom: 0; text-align: center; line-height: 1px;"><span style="background: #ffb101; box-shadow: 0px 3px 5px rgba(255, 176, 0, .55); border-radius: 3px; display: inline-block; width: 27px; height: 4px;"></span></div>
            </li>
            @*@if (Model.Category.Where(c => c == Enumeration.CategoryId.FastFoodByBreakfast).ToList().Count > 0)
                    {
                        <li class="classify-item">
                            <a href="javascript:void(0)" class="operate item-operate" catalogid="@((int)Enumeration.CategoryId.FastFoodByBreakfast)">
                                <div>
                                    <span>早餐</span>
                                </div>
                            </a>
                        </li>
                }
                        @if (Model.Category.Where(c => c == Enumeration.CategoryId.FastFoodByLunch).ToList().Count > 0)
                    {
                        <li class="classify-item">
                            <a href="javascript:void(0)" class="operate item-operate" catalogid="@((int)Enumeration.CategoryId.FastFoodByLunch)">
                                <div>
                                    <span>午餐</span>
                                </div>
                            </a>
                        </li>
                }*@
            @if (Model.Category.Where(c => c == Enumeration.CategoryId.Snacks).ToList().Count > 0)
            {
                <li class="classify-item">
                    <a href="javascript:void(0)" class="operate item-operate" catalogid="@((int) Enumeration.CategoryId.Snacks)">
                        <div>
                            <span>休闲零食</span>
                        </div>
                    </a>
                </li>
            }
            @if (Model.Category.Where(c => c == Enumeration.CategoryId.Drinks).ToList().Count > 0)
            {
                <li class="classify-item">
                    <a href="javascript:void(0)" class="operate item-operate" catalogid="@((int) Enumeration.CategoryId.Drinks)">
                        <div>
                            <span>营养饮品</span>
                        </div>
                    </a>
                </li>
            }

            @if (Model.Category.Where(c => c == Enumeration.CategoryId.GeneralMerchandise).ToList().Count > 0)
            {
                <li class="classify-item">
                    <a href="javascript:void(0)" class="operate item-operate" catalogid="@((int) Enumeration.CategoryId.GeneralMerchandise)">
                        <div>
                            <span>百货用品</span>
                        </div>
                    </a>
                </li>
            }
            @if (Model.Category.Where(c => c == Enumeration.CategoryId.FastFoodByLunch).ToList().Count > 0)
            {
                <li class="classify-item">
                    <a href="javascript:void(0)" class="operate item-operate" catalogid="@((int)Enumeration.CategoryId.FastFoodByLunch)">
                        <div>
                            <span>活动商品</span>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>

    @if (!string.IsNullOrEmpty(Model.CartDiscountTips))
    {
        <div class="cart-discount-list">
            <i style="background-color: rgb(240, 115, 115); color: rgb(255, 255, 255);"><span>减</span></i>
            <span>@Model.CartDiscountTips</span>
        </div>
    }
    <div style="height: 15px; width: 100%; background: #fff;"></div>

    <div class="advertising">
        <div>
            <a href="javascript:void(0)"><img src="/Content/imgs/complete-image/home-newindex/banner0.png" height="72" width="100%" /></a>
        </div>
        <i class="light"></i>
    </div>

    @*<div class="swiper-container-advertising">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <a href="javascript:void(0)"><img src="/Content/imgs/complete-image/home-newindex/banner1.jpg" height="72" width="100%" /></a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)"><img src="/Content/imgs/complete-image/home-newindex/banner2.jpg" height="72" width="100%" /></a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)"><img src="/Content/imgs/complete-image/home-newindex/banner3.jpg" height="72" width="100%" /></a>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination-ad"></div>
        </div>*@

    <div style="height: 15px; width: 100%; background: #fff;"></div>
    @*<div class="space-bar"></div>*@
    <form id="form1" name="form1" style="padding: 0 0.875rem;">
        <input name="Model.StoreId" id="Model.StoreId" type="hidden" value="@Model.Store.Id" />
        <input name="Model.CategoryId" id="Model.CategoryId" type="hidden" value="10" />
        <input name="Model.IsRecommended" id="Model.IsRecommended" type="hidden" value="true" />

        <div class="list" id="list_prdskus"></div>
        @*<div class="space-bar"></div>*@
        <div class="item-empty-tips">
            <span>~到底了哦~</span>
        </div>
    </form>
</div>

<div id="modal">
    <div id="modal_content">
        <div id="modal_content_img">
            <div>
                <img src="/Content/imgs/complete-image/home-index/member.png" width="81" height="67" />
            </div>
        </div>
        <div id="modal_content_tips">
            <div>
                <span>
                    温馨提示
                </span>
            </div>
            <div>
                <span>
                    您还不是会员用户，快绑定手机号成为我们的尊贵会员吧
                </span>
            </div>
        </div>
        <div id="modal_content_btn">
            <div class="operate">
                <span>
                    绑定手机号
                </span>
            </div>
        </div>
        <div id="modal_content_close">
            <div class="operate">
                <img src="/Content/imgs/complete-image/home-index/close.png" width="16" height="16" />
            </div>
        </div>
    </div>

</div>
<div class="firstIn-modal">
    <div class="firstIn-content">
        <div class="firstIn-content-img">
            <div>
                <img src="/Content/imgs/complete-image/home-newindex/firstIn-Body.png" width="270" height="333" />
            </div>
            <div class="firstIn-content-btn">
                <div>
                    <img src="/Content/imgs/complete-image/home-newindex/firstIn-Check.png" width="138" height="48" class="operate" />
                </div>
            </div>
        </div>
        <div class="firstIn-content-close">
            <div class="operate">
                <img src="/Content/imgs/complete-image/home-newindex/firstIn-Closed.png" width="28" height="28" />
            </div>
        </div>
    </div>
</div>
@section footer{
    <div class="divide-bar"></div>
    @{
        Html.RenderPartial("_BottomNavPartial");
    }
}
@section scripts{

    <script src="~/Scripts/swiper.min.js"></script>
    <script>
        var mySwiper = new Swiper('.swiper-container',
            {
                roundLengths: true,
                initialSlide: 0,
                speed: 1000,
                followFinger: false,
                loop: true,
                autoplayDisableOnInteraction: false,
                slidesPerView: 1.002,
                centeredSlides: true,
                watchSlidesProgress: true,
                pagination: ".swiper-pagination",
                paginationClickable: true,
                longSwipesRatio: 0.3,
                touchRatio: 1,
                autoplay: 2000,
                onProgress: function (a) {
                    var b, c, d;
                    for (b = 0; b < a.slides.length; b++)
                        c = a.slides[b],
                            d = c.progress,
                            scale = 1 - Math.min(Math.abs(.2 * d), 1),
                            es = c.style,
                            es.opacity = 1 - Math.min(Math.abs(d / 2), 1),
                            es.webkitTransform = es.MsTransform = es.msTransform = es.MozTransform = es.OTransform = es.transform = "translate3d(0px,0," + -Math.abs(136 * d) + "px)"
                },
                onSetTransition: function (a, b) {
                    for (var c = 0; c < a.slides.length; c++)
                        es = a.slides[c].style,
                            es.webkitTransitionDuration = es.MsTransitionDuration = es.msTransitionDuration = es.MozTransitionDuration = es.OTransitionDuration = es.transitionDuration = b + "ms"
                }
            });
        var isFirstIn = $("#isFirstIn").val();

        var list;

        $(function () {
            if (isFirstIn > 0) {
                var scrollTop = document.body.scrollTop;//网页被卷去的高
                $(".firstIn-modal").css({ top: scrollTop + "px" });
                $(".firstIn-modal").fadeIn("fast");
                $(".firstIn-modal").show();
            }
            //if (screenWidth == 320) {
            //    $(".swiper-slide img").css({ height: "8.1rem" });
            //    $(".swiper-container").css({ height: "8.2rem" });
            //}
            //else if ((screenWidth > 320 && screenWidth < 380) || (screenHeight >= 610 && screenHeight<652)) {
            //    $(".swiper-slide img").css({ height: "9.2rem" });
            //    $(".swiper-container").css({ height: "9.375rem" });
            //}
            //else if (screenWidth >= 380 || screenHeight >= 652) {
            //    $(".swiper-slide img").css({ height: "10.3rem" });
            //    $(".swiper-container").css({ height: "10.475rem" });
            //}
            $(".light").css({ left: "300px", "-moz-transition": "0.5s", "-o-transition": "0.5s", "-webkit-transition": "0.5s", "transition": "0.5s" });
            window.setTimeout(function () {
                $(".light").remove();
            }, 600);

            list = $("#list_prdskus").loadDataUl({
                url: "/Home/Recommend",
                pageIndex: 0,
                searchParams: $("#form1").serializeArray(),
                searchButtonId: "btn_Search",
                loadmoreButtonId: "btn_More",
                containerId: "form1",
                rowDataCombie: function (p_index, p_row) {
                    var html = "";
                    if ($("input[name='Model.IsRecommended']").val() == "true") {
                        if (p_row.productSkus.length > 0) {
                            html += '<div class="recommend-container ' +
                                (p_row.cssTemplate == 0 ? "recommend-container-first" : "") +
                                '">'
                            html += '<div class="recommend-inner">'

                            html += getDataAggregateString(p_row);


                            html += '</div></div>'
                        }
                    } else {
                        html += getDataAggregateString(p_row);
                    }
                    return html;
                },
                success: function (res) {
                    if (res.rows.length > 0) {
                        $(".empty-cart").hide();

                    } else {
                        $(".empty-cart").show();
                    }
                }
            });

            $(document).on('click',
                '.cartoperate',
                function () {

                    var _data = $('#form1').serializeArray();
                    var _this = $(this);
                    var storeId = $(this).attr("storeid");
                    var productSkuId = $(this).attr("productskuid");

                    _data.push({ name: "Model.StoreId", value: storeId });
                    _data.push({ name: "Model.ProductSkuId", value: productSkuId });
                    _data.push({ name: "Model.Operate", value: 1 });

                    $.lumos.postJson({
                        url: "/Cart/Operate",
                        data: _data,
                        success: function (d) {

                            $.lumos.tips(d.message);

                            if (d.result == $.lumos.resultType.success) {

                                $.lumos.tipsNum({
                                    obj: $('.nav li').eq(1),
                                    str: "+1"
                                });

                                setNavNumTip(1, 1, 1);

                            }
                        }
                    });
                });

            $(document).on("click",
                ".item-operate",
                function () {
                    $(".item-operate div").removeClass("eat-selected");
                    $(this).find("div").addClass("eat-selected");
                    var catalogId = $(this).attr("catalogid");

                    $("input[name='Model.CategoryId']").val(catalogId);
                    if (catalogId != "10") {
                        $("input[name='Model.IsRecommended']").val(false);
                    } else {
                        $("input[name='Model.IsRecommended']").val(true);
                    }
                    $("#list_prdskus").html("");

                    list.loadData(0);
                });

            $(document).on("click",
                ".classify-item",
                function () {
                    $(this).siblings().removeClass("li-current");
                    $(".classify-item").find("a").siblings().remove();
                    $(this).addClass("li-current").append('<div style="position: absolute;width: 100%;bottom: 0;text-align: center;line-height: 1px;"><span style="background: #ffb101;box-shadow: 0px 3px 5px rgba(255,176,0,.55);border-radius: 3px;display: inline-block;width: 27px;height: 4px;"></span></div>');

                    var innerText = $(this).find("a div span").text();
                    if (innerText == "活动商品") {
                        $(".advertising").hide();
                    } else {
                        $(".advertising").show();
                    }
                    var src = $(".advertising img").attr("src");
                    var index = $(this).index();
                    var bannerIndex = src.indexOf("banner");
                    src = src.replace(/banner\d{1}/, 'banner' + index);
                    $(".advertising img").attr("src", src);
                    $(".advertising").append("<i class='light'></i>");

                    window.setTimeout(function () {
                        $(".light").css({ left: "300px", "-moz-transition": "0.5s", "-o-transition": "0.5s", "-webkit-transition": "0.5s", "transition": "0.5s" });
                    }, 50);

                    window.setTimeout(function () {
                        $(".light").remove();
                    }, 700);
                });

            $(document).on("click", ".navbar-item:nth-child(3)", function () {
                $.lumos.postJson({
                    url: "/Personal/QueryMember",
                    data: null,
                    success: function (d) {
                        if (d.result == $.lumos.resultType.success) {
                            var params = d.data;
                            if (params.isvip) {
                                window.location.href = "/Personal/MemberArea";
                            } else {
                                var scrollTop = document.body.scrollTop;//网页被卷去的高
                                $("#modal").css({ top: scrollTop + "px" });
                                $("#modal").fadeIn("fast");
                                $("#modal").show();
                            }
                        } else {
                            $.lumos.tips(d.message);
                        }
                    }
                });
            });

            $(document).on("click", "#modal_content_close div", function () {
                $("#modal").hide();
            });

            $(document).on("click", "#modal_content_btn div", function () {
                window.location.href = "/Account/BindMobile";
            });

            $(document).on("click", ".firstIn-content-close div", function () {
                $(".firstIn-modal").hide();
            });

            $(document).on("click", ".firstIn-content-btn img", function () {
                window.location.href = "/Personal/Coupon";
            });

            function getDataAggregateString(p_row) {
                var l_StrRows = "";
                if (p_row.cssTemplate == 0) {
                    l_StrRows += ' <div class="recommend-content-first" categoryid="' + p_row.id + '">'
                    for (var i = 0; i < p_row.productSkus.length; i++) {
                        l_StrRows += '<div class="recommend-content-first-item">'

                        l_StrRows += '<a href="/Product/Details?id=' + p_row.productSkus[i].id + '" class="recommend-content-first-botttom-a"><div><img src="' +
                            p_row.productSkus[i].mainImg +
                            '" class="recommend-content-first-background"/></div></a>'
                        l_StrRows +=
                            ' <div class="recommend-content-first-botttom"><div class="recommend-content-first-botttom-inner">'

                        l_StrRows += '<a href="/Product/Details?id=' + p_row.productSkus[i].id + '" class="recommend-content-first-botttom-a"><div><span>（' + p_row.productSkus[i].name + '）</span>' + (p_row.productSkus[i].giftTips != null ? (' < span class="product-tips" >（' + p_row.productSkus[i].giftTips + '）</span > ') : '') + '</div><div class="recomment-content-one-item-des">' + p_row.productSkus[i].description + '</div></a>'
                        l_StrRows += ' <div><i class="custom-jpy-one" aria-hidden="true">' +
                            p_row.productSkus[i].salePrice +
                            '元</i><a href="javascript:void(0);" style="height: 39px;line-height: 39px; display: inline-block;" class="cartoperate" storeid="' +
                            p_row.productSkus[i].storeId +
                            '" productskuid="' +
                            p_row.productSkus[i].id +
                            '"><img src="/Content/imgs/complete-image/home-newindex/add-to-cart.png" width="34" height="33" style="vertical-align: middle; margin-top: 2px;" /></a></div>'
                        l_StrRows += '</div></div>'

                        if (p_row.productSkus[i].isSale) {
                            if (p_row.productSkus[i].inventoryQuantity <= 0 && p_row.productSkus[i].receptionMode==1) {
                                l_StrRows += '<div class="recommend-content-item-emptystock"><span>售罄</span></div>'
                            }
                        } else {
                            l_StrRows += '<div class="recommend-content-item-emptystock"><span>未开售</span></div>'
                        }

                        l_StrRows += '</div>'
                        //if (p_row.productSkus.length - 1 > i) {
                        //    l_StrRows += ' <div class="space-bar"></div>'
                        //}
                    }
                    l_StrRows += '</div>'
                } else if (p_row.cssTemplate == 1) {

                    l_StrRows += ' <div class="recommend-content-second" categoryid="' + p_row.id + '">'//6
                    for (var i = 0; i < p_row.productSkus.length; i++) {

                        if (i % 2 == 0) { //当前为某行开始
                            if (i == p_row.productSkus.length - 1) {
                                l_StrRows += '<div class="recommend-content-second-item" >' //5
                            } else {
                                l_StrRows += '<div class="recommend-content-second-item-box">' //5
                            }

                        } else {
                            if (p_row.productSkus.length % 2 == 1) { //如果推荐商品个数为奇数
                                if (i == p_row.productSkus.length - 1) {
                                    l_StrRows += '<div class="recommend-content-second-item">'//5
                                }
                            }
                        }

                        if (p_row.productSkus.length % 2 == 1) {

                            if (i == p_row.productSkus.length - 1) {

                                l_StrRows += '<div class="recommend-content-second-item-inner ' + (i % 2 == 0 ? "" : "") + '">'//4

                            } else {
                                l_StrRows += '<div class="recommend-content-second-item-inner-flex ' + (i % 2 == 0 ? "" : "") + '">'//4
                            }
                        } else {

                            l_StrRows += '<div class="recommend-content-second-item-inner-flex ' + (i % 2 == 0 ? "" : "") + '">'//4
                        }
                        if (p_row.productSkus[i].inventoryQuantity <= 0 && p_row.productSkus[i].receptionMode == 1) {
                            l_StrRows += '<div class="recommend-content-second-item-emptystock"><span>售罄</span></div>'
                        }
                        l_StrRows += '<a href="/Product/Details?id=' + p_row.productSkus[i].id + '" ><div class="recommend-content-second-item-img"><img src="' + p_row.productSkus[i].mainImg + '" width="100%"/></div></a>'

                        l_StrRows += '<div style="width: 100%;position: absolute;bottom: 0;">'//3

                        l_StrRows += '<div class="recommend-content-second-item-info">'//2

                        l_StrRows += '<a href="/Product/Details?id=' + p_row.productSkus[i].id + '" ><div  class="recommend-content-second-item-title">'
                        l_StrRows += '  <span>' + p_row.productSkus[i].name + '</span> ' + (p_row.productSkus[i].giftTips != null ? (' < span class="product-tips" >（' + p_row.productSkus[i].giftTips + '）</span > ') : '')
                        l_StrRows += '</div><div class="recomment-content-second-item-des">' + p_row.productSkus[i].description + '</div></a>'

                        l_StrRows += '<div class="recommend-content-second-item-operate">'//1

                        l_StrRows += ' <div><i class="custom-jpy-one" aria-hidden="true">' + p_row.productSkus[i].salePrice + '元</i><i class="custom-jpy-two" aria-hidden="true">' + p_row.productSkus[i].marketPrice + '元</i></div>'

                        l_StrRows += ' <div><a href="javascript:void(0);" style="height: 39px;line-height: 39px; display: inline-block;" class="cartoperate" storeid="' + p_row.productSkus[i].storeId + '" productskuid="' + p_row.productSkus[i].id +
                            '"><img src="/Content/imgs/complete-image/home-newindex/add-to-cart.png" width="34" height="33" style="vertical-align: middle; margin-top: -6px;" /></a></div>   '

                        l_StrRows += '</div>'//1

                        l_StrRows += '</div>'//2

                        l_StrRows += '</div>'//3

                        l_StrRows += '</div>'//4
                        if (i % 2 == 0) {
                            //l_StrRows += '<div style="height:100%;width:5px;background:#f6f6f6;position:relative;display: inline-block;"></div>'
                        }
                        if (i % 2 == 1) { //当前为某行开始 //5
                            l_StrRows += ' </div>'
                            //l_StrRows += '<div style="height:5px;width:100%;border:0;background: #f6f6f6;"></div>'
                        } else {
                            if (i == p_row.productSkus.length - 1) {
                                l_StrRows += ' </div>'
                            }
                        }

                    }
                    //l_StrRows += '</div>'
                    l_StrRows += '</div>'//6
                } else if (p_row.cssTemplate == 2) {
                    l_StrRows += ' <div class="recommend-content-third" categoryid="' + p_row.id + '">'
                    for (var i = 0; i < p_row.productSkus.length; i++) {

                        l_StrRows +=
                            '<div class="recommend-content-third-item"><a href="/Product/Details?id=' + p_row.productSkus[i].id + '" ><div class="recomment-content-third-item-img"><img src="' +
                            p_row.productSkus[i].mainImg +
                            '" width="92"  style="vertical-align: middle;"/></div></a>'//1
                        if (p_row.productSkus[i].inventoryQuantity <= 0 && p_row.productSkus[i].receptionMode == 1) {
                            l_StrRows += '<div class="recommend-content-third-item-emptystock"><span>售罄</span></div>'
                        }
                        l_StrRows += '<div class="recomment-content-third-item-info">' //1
                        l_StrRows += '<a href="/Product/Details?id=' + p_row.productSkus[i].id + '" > <div class="recomment-content-third-item-title">' + p_row.productSkus[i].name + (p_row.productSkus[i].giftTips != null ? ('< span class="product-tips" >（' + p_row.productSkus[i].giftTips + '）</span >') : '') + '</div><div class="recomment-content-third-item-des">' + p_row.productSkus[i].description + '</div></a>'
                        l_StrRows += '<div class="recomment-content-third-item-operate">'//1
                        l_StrRows += ' <div><i class="custom-jpy-one" aria-hidden="true">' +
                            p_row.productSkus[i].salePrice +
                            '元</i><i class="custom-jpy-two" aria-hidden="true">' +
                            p_row.productSkus[i].marketPrice +
                            '元</i></div>'
                        l_StrRows +=
                            ' <div><a href="javascript:void(0);" style="height: 39px;line-height: 39px; display: inline-block;" class="cartoperate" storeid="' +
                            p_row.productSkus[i].storeId +
                            '" productskuid="' +
                            p_row.productSkus[i].id +
                            '"><img src="/Content/imgs/complete-image/home-newindex/add-to-cart.png" width="34" height="33" style="vertical-align: middle; margin-top: -6px;" /></a></div>'

                        l_StrRows += '</div>'

                        l_StrRows += '</div>'

                        l_StrRows += '</div>'

                        //l_StrRows += ' <div style="height:5px;width:100%;border:0;background: #f6f6f6;"></div>'
                    }
                    l_StrRows += '</div>'
                }
                return l_StrRows;
            }


        });
    </script>
    <script>
        console.log("屏幕高（微信）：" + screenHeight);
        console.log("屏幕宽（微信）：" + screenWidth);
        console.log("设备像素比：" + window.devicePixelRatio);
    </script>
}